h1 {
    color: rgb(4, 134, 4);
}

hr {
    width: 75%;
    border-top: 5px dotted rgb(255, 46, 46);
}

body {
    background-color: rgb(255, 248, 189);
    text-align: center;
}

button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16;
}

.button1 {
    background-color: #008CBA;
    color: white;
}

/* Style the form - display items horizontally */
.form-inline {
    display: inline-block;
    flex-flow: row wrap;
    align-items: center;    
}
  
/* Add some margins for each label */
.form-inline label {
    margin: 5px 10px 5px 0;
}
  
/* Style the input fields */
.form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}
  
/* Style the submit button */
.form-inline button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
}
  
.form-inline button:hover {
    background-color: royalblue;
}
  
/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
    .form-inline input {
        margin: 10px 0;
    }
    
    .form-inline {
        flex-direction: column;
        align-items: stretch;
    }
}

#library {
    display: inline-block;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
  }
  
#library td, #library th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#library tr:nth-child(even){background-color: #f2f2f2;}

#library tr:hover {background-color: #ddd;}

#library th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}